//该选项为忽略列表  记录了resources目录中哪些文件夹下的shader 将在打包时不被包含 （只可以是文件夹路径）
<IgnorePathList>
oldShaders


//子shader 打包 选项 
//1.name 设置 包名  
//2.逐行添加shader名（不含后缀） ，被列入的shader才会被包裹
//3.子包可依次添加多个
<SubPackage name="shader">
diffuse
diffuse_bothside
flowwater_new
streamlight
streamlight_bothside
mask_add_tint
mask_add_tint_uvroll
mask_blend_tint
mask_blend_tint_uvroll
particles_add
particles_blend
particles_diffuse
particles_add_notest
particles_blend_notest
terrain
transparent
blend_notest
particle_mask_add_tint
particle_mask_blend_tint
asi
bloom
colorcorrect